@use '../utils/variables' as *;
@use '../utils/mixins' as *;

form {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  max-width: 600px;
  margin: 0 auto;
  padding: $spacing-lg;

  input[type="text"],
  textarea {
    padding: $spacing-sm;
    border: 1px solid $border-color;
    border-radius: $border-radius-sm;
    font-size: $font-size-base;
    font-family: inherit;

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
    }
  }

  textarea {
    min-height: 150px;
    resize: vertical;
  }

  button[type="submit"] {
    @include button-primary;
    align-self: flex-start;
  }
}

.back-button {
  @include button-primary;
  margin-bottom: $spacing-lg;
  background-color: $secondary-color;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

