@use 'sass:color';

@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.header {
  max-width: $header-max-width;
  margin: 0 auto;
  padding: $spacing-lg;
  display: flex;
  justify-content: flex-end;
  gap: $spacing-xxl;
  align-items: center;
  position: sticky;
  top: 0;
  background: black;
  min-height: 100px;
  transition: all 0.5s ease-in-out;
}

.header-title {
  margin-right: auto;
}


.searchbar {
  transition: margin-right 0.5s ease-in-out;
  
  input {
    height: 40px;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: $border-radius-sm;
    border: 1px solid $border-color;
    font-size: $font-size-base;
    font-family: inherit;

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
    }
  }
}

.add-icon-link {
  display: flex;
  align-items: center;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
  overflow: hidden;
  width: 64px;
  opacity: 1;
  
  &.hidden {
    width: 0;
    opacity: 0;
    margin: 0;
    pointer-events: none;
  }
}

.add-icon {
  width: 32px;
  height: 32px;
  background: white;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 100%;
  flex-shrink: 0;

  &:hover {
    background: color.adjust($primary-color, $lightness: 10%);
  }
  &:active {
    background: color.adjust($primary-color, $lightness: 15%);
    // Spin the icon
    // transform: rotate(360deg);
    // transition: transform 0.3s ease-in-out;
  }
}