@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.app {
  @include container;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($card-min-width, 1fr));
  gap: $grid-gap;
  margin-top: $spacing-lg;
}

a {
  @include link;
}

.button-primary {
  @include button-primary;
}